body{
	color:white;
	background-color: black;
}

#name{
	font-size: 4vw;
	text-align: center;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15vw;
}

#quote{
	text-align: center;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}

#hobby{
	text-align: center;
	font-size: 1.6vw;
	margin-right: auto;
	margin-left: auto
}

#hobby ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}

#hobby ul li {
	display: inline;
	padding: 10px 0 10px 0;
}

#links{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
  min-width: 14px;
}